
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/Asap-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/Asap-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/Asap-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Savile';
  src: url('../fonts/Savile.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Savile';
  src: url('../fonts/Savile-bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}
html{
  background-color: #3AECD8;
}
body {
  font-family: 'Asap';
  height: 100vh;
  overflow-x: hidden;
  background: #11252A;
  background: -webkit-linear-gradient(0deg, rgba(17, 37, 42, 1) 15%, rgba(57, 236, 218, 1) 100%);
  background: -moz-linear-gradient(0deg, rgba(17, 37, 42, 1) 15%, rgba(57, 236, 218, 1) 100%);
  background: linear-gradient(0deg, rgba(17, 37, 42, 1) 15%, rgba(57, 236, 218, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#11252A", endColorstr="#39ECDA", GradientType=0);
  background-repeat: no-repeat;
}


.bottom-bar{
  width: 120%;
  margin-left: -10%;
  margin-top: -50px;
  background-color: #11252A;
  position: relative;
}

.bottom-bar-top{
  width: 100%;
  background-color: #39F1DB;
  height: 50px;
  clip-path: polygon(0 0, 100% 50%, 100% 90%, 0% 100%);
  position: absolute;
  top: -34px;
  rotate: 1deg;
}

.bottom-bar-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  padding: 64px 0;
}

.bottom-bar-bottom img{
  height: 250px;
}

.bottom-bar-text, .bottom-bar-text span{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: #A1ACA4;
  font-weight: 700;
}

#bottom-bar-btn{
  background-color: #3F9EA8;
  color: #fff;
  padding: 10px 8px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  &:hover{
    scale: 1.02;
  }
}

#bottom-bar-last{
  display: flex; 
  gap: 10px;
}

#bottom-bar-last span{
  color: #ad5c00;
}

